@import "~bulma";

html, body, #app {
  height: 100%;
}

.content {
    margin: auto;
    width: 80%;
}

.content ul {
    list-style: none;
    margin: 0;
}

.button-div {
    display: flex;
    justify-content: flex-end;
}
.button-div .control {
    margin-left: 1em;
}
.button-div .delete-control {
    justify-self: flex-start;
    width: 100%;
    margin: 0;
}

// Styling for vue-autosuggest cannot be scoped
.suggestion-item {
    display: block;
    width: 100%;
}

.result-container {
    overflow-y: scroll;
    max-height: 150px;
    padding: 10px;
}