@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

html, body {
    min-height: 100vh;
    background: #003459;
}

html, body, .content, .button {
    font-family: "Arial Rounded Mt"
}

.content {
    background: #DFDFDF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em auto;
    min-height: 60%;
    max-height: 100%;
    width: 80%;
    padding: 1em;
    border-radius: 5px;
}

.content ul {
    list-style: none;
    margin: 0;
}

.button-div {
    display: flex;
    justify-content: flex-end;
}
.button-div .control {
    margin-left: 1em;
}
.button-div .delete-control {
    justify-self: flex-start;
    width: 100%;
    margin: 0;
}
.button:hover {

    text-decoration: underline;
}

form {
    min-width: 40%;
}

// Styling for vue-autosuggest (cannot be scoped)

.suggestion-item {
    display: block;
    width: 100%;
}

.result-container {
    overflow-y: scroll;
    max-height: 150px;
    padding: 10px;
}


// Global table styling

tbody>tr:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15)
}

.table tbody {
    background-color: #DFDFDF !important;
}

.table tbody tr {
    background-color: white;
}

.content table tbody tr:last-child td, .content table tbody tr:last-child th {
    border-bottom-width: inherit !important;
}

@media only screen and (max-width: 1020px) {
    .content {
        margin-top: 1em;
        width: 95%;
    }
}

@media only screen and (max-width: 760px)  {

        
    .content table tbody tr:last-child td, .content table tbody tr:last-child th {
        border-bottom-width: inherit;
    }
    .content table tbody tr td:last-child, .content table tbody tr th:last-child {
        border-bottom-width: 0;
    }

    .content {
        width: 90%;
    }

	// Force table to not be like tables anymore
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	// Hide table headers (but not display: none;, for accessibility)
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr {
        border: 1px solid #ccc;
        margin-bottom: 5px;
    }
    
    // Behave  like a "row"
	td {
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
        padding-left: 40% !important;
    }
    .content table td, .content table th {
        padding-top: 1em !important;
        padding-bottom: 1em !important;

    }
    
    // Now like a table header
	td:before {
		position: absolute;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
    }
    
    .button-group {
        margin-right: 10px !important;
        .button {
            padding-left: 2px;
            padding-right: 2px;
        }
        .welcome-user {
            padding: 0 5px;
        }
    }
    
    .home-button {
        margin-left: 10px !important;
    }
}

@import "~bulma";